.mainCanvas {
    position: relative;
    top: 0px;
    display: flexbox;
    margin: 0 auto;
    height: 400px;
    width: 600px;
    border: 10px solid #062933;
    border-radius: 10px;
    box-shadow:5px 5px rgb(209, 210, 213);
}

.logoMain {
    margin-top: 10px;
    margin-bottom: 10px;
    color:#4296CE;
    text-align: center;
    font-size: 60px;
    font-family: 'Hepta Slab', serif;
    text-shadow: 3px 3px rgb(209, 210, 213);
}

body {
   background-color: #FBFCFD;
}

.loginBox {
    margin: 0 auto;
    height: 100px;
    width: 500px;
    border: 5px solid black;
}

.inputBoxOnLoginComponent {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height:20px;
}

.loginButton {
    margin-top: 5px;
    width: 200px;
    height:20px;
    background-color: cornflowerblue;
}