.mainCanvas {
  position: relative;
  top: 0px;
  display: flexbox;
  margin: 0 auto;
  height: 400px;
  width: 800px;
  border: 10px solid  rgb(146, 154, 175);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(118, 119, 123);
}
.logoMain {
  margin-top: 10px;
  margin-bottom: 10px;
  color:#FEFEFE;
  text-align: center;
  font-size: 60px;
  font-family: 'Hepta Slab', serif;
  text-shadow: 2px 2px 2px rgb(122, 130, 153);
}
body {
  background-color: rgb(124, 207, 248);
}
.loginBox {

  position: relative;
  top: 15px;
  margin: 0 auto;
  height: 175px;
  width: 350px;
  /* border: 1px solid rgb(209, 210, 213); */
  border-radius: 5px;
  background-color:#FEFEFE;
  padding: 15px;
  box-shadow: 4px 4px 4px  rgb(146, 154, 175);

  
}
.inputBoxOnLoginComponent {
    position: relative;
    top:5px;  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 30px;
}
.inputBoxOnLoginComponent input {
    background-color: rgb(240, 240, 240); ;
    padding-left: 3px;
    margin-top: 5px;
    width: 300px;
    height: 30px;
    /* border: 2px solid rgb(209, 210, 213); */
    border-radius: 3px;
}
#loginButton {
    position: relative;
    top: -1px;
    padding-top: 5px;
    padding-bottom: 25px;
    width: 310px !important;
    height: 30px !important;
    margin-top: 5px;
    background-color:rgb(124, 207, 248);
}

#loginButton[value="Login"]{

    color: whitesmoke;
    font-size: 18px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.canvasButtons {

  color: #FEFEFE;
  background-color:rgb(146, 216, 251);
  margin: 5px;
  height: 50px;
  width: 150px;
  border-radius: 12px;
  border: 3px solid #FEFEFE;
}

.canvasButtons h6{
  display: inline;
  font-size: 18px;
  color:#FEFEFE;
  font-family: 'Hepta Slab', serif;
}

.canvasButtons:hover {
  background-color:rgb(118, 179, 209);
}

#scribbleLogo {
  margin-top: 165px;
  position: relative;
  height: 200px;
  width: 300px;
}

